@media (max-width: 1024px) {
  .steps {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.steps {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  flex-wrap: nowrap;

.step-card h5,
.step-card p,
.step-card .step-icon {
  position: relative;
  z-index: 2;
}

  .step-card {
    position: relative;
    background: #0074C7;
    border-radius: 8px;
    padding: 1.2rem 1.5rem 1.2rem 4.5rem;
    color: white;
    overflow: hidden;
    width: 220px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: visible;

    /* Numéro */
    .step-number {
  position: absolute;
  font-weight: 900;
  color: #384050;
  line-height: 1;
}

.step-card:nth-child(1) .step-number {
  font-size: 7rem;
  bottom: -10px;
  left: 10px;
}

.step-card:nth-child(2) .step-number {
  font-size: 7rem;
  top: -15px;
  left: 10px;
}

.step-card:nth-child(3) .step-number {
  font-size: 9rem;
  right: -20px;
  top: -30px;
  opacity: 0.25;
  z-index: 0;
}

    /* Icône */
   .step-icon {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 32px;
  height: 32px;
}

.step-icon img {
  width: 100%;
  height: auto;
  display: block;
}


    h5 {
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: none;
      margin-bottom: 0.3rem;
      z-index: 1;
    }

    p {
      font-size: 0.75rem;
      line-height: 1.2;
      margin: 0;
      opacity: 0.95;
      z-index: 1;
    }
  }
}
