.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .step-card {
    border-radius: 8px;
    padding: 1.2rem 1.2rem;
    color: white;
    width: 220px;
    height: 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible; 

    .step-number {
      position: absolute;
      font-weight: 900;
      line-height: 1;
      color: inherit;
      z-index: 1;
    }

    .step-icon {
      position: absolute;
      z-index: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    /* Étape 1 : Loupe */
    &:nth-child(1) {
      .step-icon {
        width: 60px;
        height: 60px;
        right: 4px;
        top: 22px;
        z-index: 2;
      }
    }

    /* Étape 2 : Artisan */
    &:nth-child(2) {
      .step-icon {
        width: 60px;
        height: 60px;
        bottom: 5px;
        right: 5px;
        z-index: 0;
      }
    }

   /* Étape 3 : Formulaire */
    &:nth-child(3) {
      .step-icon {
       width: 1O0px;
       height: 100px;
       bottom: 0;          
       right: 0;
       transform: rotate(50deg);
       z-index: 1;          
      }
      .step-number {
       overflow: hidden;
       z-index: 2;          
      }
   }

    &:nth-child(4) {
      overflow: hidden; 
      .step-icon {
        width: 20px;
        height: 240px;
        bottom: -30px;
        right: -30px;
      }
    }

     h5,
    p {
      position: relative;
      z-index: 2;
    }

    h5 {
      font-size: 0.8rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 0.75rem;
      line-height: 1.2;
      margin: 0;
      opacity: 0.95;
    }
  }
}
