header, footer {
  background-color: #82B864;
  color: white;
  .search-bar {
    display: flex;
    input {
      flex-grow: 1;
      border-radius: 50px 0 0 50px;
      border: none;
      padding-left: 1rem;
    }
    button {
      background: linear-gradient(64deg, #82B864 0%, #82B864 100%);
      border: none;
      border-radius: 0 50px 50px 0;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      color: white;
      font-size: 1.2rem;
    }
  }
}


