header,
footer {
  background-color: #82B864;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999; 

  a {
    text-decoration: none;
    color: inherit;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  background-color: #82B864;
  color: white;
  z-index: 999;

  .logo img {
    height: 80px;
    cursor: pointer;
  }

  .search-bar {
    margin: 0 1rem;

    input {
      flex-grow: 1;
      border-radius: 50px 0 0 50px;
      border: none;
      padding-left: 1rem;
    }

    button {
      background: #82B864;
      border: none;
      border-radius: 0 50px 50px 0;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      color: white;
      font-size: 1.2rem;
    }
  }

  .desktop-menu {
    display: flex;
    gap: 1rem;

    .category-btn {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .search-bar {
    margin: 0 0.5rem;
  }
}

.btn-home {
  position: relative;
  z-index: 2;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #CD2C2E;
  color: white;
  text-decoration: none;
}
